.staticPrompt{
    background: rgb(162,255,150);
    background: -moz-linear-gradient(180deg, rgba(162,255,150,1) 37%, rgba(18,255,235,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(162,255,150,1) 37%, rgba(18,255,235,1) 100%);
    background: linear-gradient(180deg, rgba(162,255,150,1) 37%, rgba(18,255,235,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a2ff96",endColorstr="#12ffeb",GradientType=1);

    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    margin-bottom: 10px;

    &__btn{
        display: flex;
        justify-content: space-between;
        &_hf{
            width: 40%;
        }

        &_fl{
            width: 100%;
        }
    }
}