.preferences{
    padding-top: 20px;
    display: flex;
    justify-content: center;

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        border: solid red 1px;
        width: 80vw;
        max-width: 400px;
    }
}