
$btn_font_clr: rgb(66, 66, 66);
$btn_font_clr_light: rgb(240, 240, 240);

$btn_default_bkg: rgb(135, 222, 158);
$btn_default_bkg_active: rgb(51, 255, 105);
$btn_default_bkg_active_hover: rgb(62, 173, 92);

$btn_disabled: rgb(184, 184, 184);

$btn_warning_bkg: rgb(222, 222, 135);
$btn_warning_bkg_active: rgb(255, 252, 51);
$btn_warning_bkg_active_hover: rgb(222, 224, 83);

$btn_danger_bkg: rgb(224, 83, 83);
$btn_danger_bkg_active: rgb(189, 8, 8);
$btn_danger_bkg_active_hover: rgb(255, 0, 0);

$title_shadow_color: rgb(240, 245, 241);
$title_shadow_full: -10px 10px 23px 3px $title_shadow_color;
$title_main_color: rgb(86, 156, 156);
$title_rest_color: rgb(38, 74, 74);

$valid_color: rgb(176,245,164);
$valid_input_shadow: inset 1px -2px 37px 9px rgba($valid_color,0.5);

$error_input_shadow: inset 1px -2px 152px -53px rgba($btn_danger_bkg,0.5);
$error_input_msg: rgba($btn_danger_bkg,0.56);

$popup_color: rgb(130, 130, 130);
$popup_container_color: rgba(130, 130, 130, .6);
$popup_module_color: rgb(255, 255, 255);
$popup_borders: solid black 2px;
$popup_borders_separator: solid black 1px;

$navigation_background: rgb(224, 224, 224);

$shadow_color: rgba(94,107,125,1);