
$btn_font_clr: rgb(66, 66, 66);
// $btn_font_clr_light: rgb(168, 171, 167);
// $btn_font_clr_light: rgb(240, 240, 240);
$btn_font_clr_light: rgb(255, 255, 255);

$btn_disabled: rgb(184, 184, 184);


//done
$btn_default_bkg: rgb(84, 179, 109);
$btn_default_bkg_active: rgb(51, 255, 105);
$btn_default_bkg_active_hover: rgb(62, 173, 92);

//done
$btn_warning_bkg: rgb(255, 221, 128);
$btn_warning_bkg_active: rgb(255, 198, 41);
$btn_warning_bkg_active_hover: rgb(255, 187, 0);

//done
$btn_danger_bkg: rgb(224, 83, 83);
$btn_danger_bkg_active: rgb(189, 8, 8);
$btn_danger_bkg_active_hover: rgb(255, 0, 0);

//done
$btn_lightGreen_bkg: rgb(234, 255, 232);
$btn_lightGreen_bkg_active: rgb(162, 255, 150);
$btn_lightGreen_bkg_active_hover: rgb(205, 255, 199);

//done
$btn_darkGreen_bkg: rgb(32, 145, 17);
$btn_darkGreen_bkg_active: rgb(106, 199, 93);
$btn_darkGreen_bkg_active_hover: rgb(55, 219, 33);

//done
$btn_blue_bkg: rgb(93, 194, 199);
$btn_blue_bkg_active: rgb(18, 142, 148);
$btn_blue_bkg_active_hover: rgb(32, 194, 201);

//blue
$btn_lightBlue_bkg: rgb(207, 253, 255);
$btn_lightBlue_bkg_active: rgb(110, 248, 255);
$btn_lightBlue_bkg_active_hover: rgb(149, 233, 237);

//done
$btn_darkBlue_bkg: rgb(56, 135, 255);
$btn_darkBlue_bkg_active: rgb(23, 116, 255);
$btn_darkBlue_bkg_active_hover: rgb(28, 97, 201);

//done
$btn_lightRed_bkg: rgb(255, 224, 224);
$btn_lightRed_bkg_active: rgb(255, 176, 176);
$btn_lightRed_bkg_active_hover: rgb(250, 117, 117);

$btn_lightYellow_bkg: rgb(250, 255, 201);
$btn_lightYellow_bkg_active: rgb(243, 255, 128);
$btn_lightYellow_bkg_active_hover: rgb(237, 255, 61);





$title_shadow_color: rgb(240, 245, 241);
$title_shadow_full: -10px 10px 23px 3px $title_shadow_color;
$title_main_color: rgb(86, 156, 156);
$title_rest_color: rgb(38, 74, 74);

$valid_color: rgb(176,245,164);
$valid_input_shadow: inset 1px -2px 37px 9px rgba($valid_color,0.5);

$error_input_shadow: inset 1px -2px 152px -53px rgba($btn_danger_bkg,0.5);
$error_input_msg: rgba($btn_danger_bkg,0.56);

$popup_color: rgb(130, 130, 130);
$popup_container_color: rgba(130, 130, 130, .6);
$popup_module_color: rgb(255, 255, 255);
$popup_borders: solid black 2px;
$popup_borders_separator: solid black 1px;

$navigation_background: rgb(224, 224, 224);

$shadow_color: rgba(94,107,125,1);