@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Roboto&display=swap');

$header: 'Fugaz One', cursive;
$text: 'Roboto', sans-serif;

$base_font_size: 18px;
$error_size_small: 16px;

$header_size_main: 42px;
$header_size_section: 30px;
$header_size_sub: 22px;


$input_width: 70%;
$input_spacing: 10px;