@import '../../styles/colors.scss';

.navigation{
    background-color: $navigation_background ;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid $popup_color 2px;
    top: 0;
    position: sticky;
    z-index: 999;

    &_section{
        min-width: 120px;
        display:flex;
        justify-content: space-between;
    }

    &__link{
        color: $btn_font_clr_light;
        // color: $btn_font_clr;
        text-decoration: none;

        &:hover{
            color: $btn_darkGreen_bkg_active;
            // font-weight: bold;
        }
        
        &_active{
            color: $btn_darkBlue_bkg;
            border-bottom: solid $btn_darkBlue_bkg 3px;
            // font-weight: bold;
        }
    }

    &__username{
        padding: 0;
        margin: 0;
        margin-right: 10px;
    }
}