.gameDetails{
    &__btns{
        margin-bottom: 20px;
    }


    &__smallExtra{
        margin-top: 10px;
    }

    &__extra{
        margin-top: 20px;
    }
    
    &__largeExtra{
        margin-top: 30px;
    }

    &__superLarge{
        margin-top: 50px;
    }

}